.logo-container{
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display Black';
}

.l-caps{
    color: #0070f3;
}

@keyframes logo-animator {
    
    0% {transform: translateX(-50px);
        width: 0px;
        opacity: 0;
    }
    50%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100% { transform: translateX(0px);
        width: 3.1rem;
        visibility: visible;
        opacity: 100;
    }
}

.l-small{
    transition: all ease-in-out;
    width: 0px;
    visibility: hidden;
    animation-name: logo-animator;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}