.logo-container{
    /* margin-left: -6px; */
    font-family: 'SF Pro';
    font-weight: 800;
}

.l-caps{
    color: var(--default-l-a);
}

@keyframes logo-animator {
    
    0% {transform: translateX(-50px);
        /* width: 0px; */
        width: 0%;
        opacity: 0;
    }
    50%{
        /* transform: translateX(-25px); */
        width: 50%;
        opacity: 50;
    }
    100% { transform: translateX(0px);
        width: 100%;
        /* visibility: visible; */
        opacity: 100;
    }
}

.l-small{
    transition: tranform ease-in-out 1700ms;
    transition: opacity ease-in-out 1700ms;
    width: 0%;
    opacity: 0;
}

.logo-anime{
    animation-name: logo-animator;
    animation-duration: 1700ms;
    animation-fill-mode: forwards;
}
