.home-content-container{
    margin: 0rem 7rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* padding-top: 1.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body.light .home-content-container .l-caps{
    color: black!important;
}
body.dark .home-content-container .l-caps{
    color: white!important;
}