@font-face {
  font-family: "SF Pro";
  src: url("./Fonts/SF\ Pro\ Fonts/SF-Pro.ttf");
  /* font-weight: normal; */
}

@font-face {
  font-family: "SF Pro Display Black";
  src: url("./Fonts/SF\ Pro\ Fonts/SF-Pro-Display-Black.otf");
  /* font-weight: normal; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}